BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, INPUT, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN, EM, FONT, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR, B, U, I, CENTER, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD, HR
{
	padding: 0;
	margin: 0;
}
.regForm FIELDSET P
{
}
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
}
CAPTION
{
	text-align: left;
}
INS
{
	text-decoration: none;
}
DEL
{
	text-decoration: line-through;
}
INPUT, SELECT
{
	vertical-align: middle;
}
INPUT, TEXTAREA, SELECT
{
	font: 12px Tahoma, Geneva, Arial, Helvetica, sans-serif;
}
FIELDSET, IMG
{
	border: 0;
}
ADDRESS, CODE, CAPTION, TH, CITE, DFN, EM, VAR
{
	font-style: normal;
}
OL, UL
{
	list-style: none;
}
H1, H2, H3, H4, H5, H6
{
	font-size: 100%;
}
Q:before, Q:after
{
	content: "";
}
LEGEND
{
	display: none;
}
BODY
{
	margin: 0 auto;
	font: 12px / 1.5 Arial, Helvetica, sans-serif;
	color: #6A5A50;
	background-color: #B8B5B1;
}
H1
{
	font-size: 150%;
}
H2
{
	font-size: 133.3%;
}
H3
{
	font-size: 116.7%;
}
H4, H5, H6
{
	font-size: 100%;
}
.mmo_wrapper
{
	margin: 0 auto;
	width: 1000px;
}
.clearfix:after
{
	content: "";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.clear
{
	clear: both;
}
A
{
	text-decoration: none;
}
A:hover
{
	text-decoration: underline;
}
.m5
{
	margin: 5px;
}
.m10
{
	margin: 10px;
}
.m15
{
	margin: 15px;
}
.m20
{
	margin: 20px;
}
.m25
{
	margin: 25px;
}
.m30
{
	margin: 30px;
}
.mt5
{
	margin-top: 5px;
}
.mt10
{
	margin-top: 10px;
}
.mt15
{
	margin-top: 15px;
}
.mt20
{
	margin-top: 20px;
}
.mt25
{
	margin-top: 25px;
}
.mt30
{
	margin-top: 30px;
}
.mb5
{
	margin-bottom: 5px;
}
.mb10
{
	margin-bottom: 10px;
}
.mb15
{
	margin-bottom: 15px;
}
.mb20
{
	margin-bottom: 20px;
}
.mb25
{
	margin-bottom: 25px;
}
.mb30
{
	margin-bottom: 30px;
}
.ml5
{
	margin-left: 5px;
}
.ml10
{
	margin-left: 10px;
}
.ml15
{
	margin-left: 15px;
}
.ml20
{
	margin-left: 20px;
}
.ml25
{
	margin-left: 25px;
}
.ml30
{
	margin-left: 30px;
}
.mr5
{
	margin-right: 5px;
}
.mr10
{
	margin-right: 10px;
}
.mr15
{
	margin-right: 15px;
}
.mr20
{
	margin-right: 20px;
}
.mr25
{
	margin-right: 25px;
}
.mr30
{
	margin-right: 30px;
}
.p5
{
	padding: 5px;
}
.p10
{
	padding: 10px;
}
.p15
{
	padding: 15px;
}
.p20
{
	padding: 20px;
}
.p25
{
	padding: 25px;
}
.p30
{
	padding: 30px;
}
.pt5
{
	padding-top: 5px;
}
.pt10
{
	padding-top: 10px;
}
.pt15
{
	padding-top: 15px;
}
.pt20
{
	padding-top: 20px;
}
.pt25
{
	padding-top: 25px;
}
.pt30
{
	padding-top: 30px;
}
.pb5
{
	padding-bottom: 5px;
}
.pb10
{
	padding-bottom: 10px;
}
.pb15
{
	padding-bottom: 15px;
}
.pb20
{
	padding-bottom: 20px;
}
.pb25
{
	padding-bottom: 25px;
}
.pb30
{
	padding-bottom: 30px;
}
.pl5
{
	padding-left: 5px;
}
.pl10
{
	padding-left: 10px;
}
.pl15
{
	padding-left: 15px;
}
.pl20
{
	padding-left: 20px;
}
.pl25
{
	padding-left: 25px;
}
.pl30
{
	padding-left: 30px;
}
.pr5
{
	padding-right: 5px;
}
.pr10
{
	padding-right: 10px;
}
.pr15
{
	padding-right: 15px;
}
.pr20
{
	padding-right: 20px;
}
.pr25
{
	padding-right: 25px;
}
.pr30
{
	padding-right: 30px;
}
.txt_f12
{
	font-size: 12px;
}
.txt_f13
{
	font-size: 13px;
}
.txt_f14
{
	font-size: 14px;
}
.txt_f15
{
	font-size: 15px;
}
.txt_f16
{
	font-size: 16px;
}
.txt_f18
{
	font-size: 18px;
}
.txt_f20
{
	font-size: 20px;
}
.txt_fb
{
	font-weight: bold;
}
.txt_fn
{
	font-weight: normal;
}
.txt_unl
{
	text-decoration: underline;
}
.txt_no_unl
{
	text-decoration: none;
}
.txt_hide
{
	text-indent: -999em;
	overflow: hidden;
}
.txt_lh12
{
	line-height: 1.2;
}
.txt_lh14
{
	line-height: 1.4;
}
.txt_lh18
{
	line-height: 1.8;
}
.txt_left
{
	text-align: left;
}
.txt_right
{
	text-align: right;
}
.txt_center
{
	text-align: center;
}
.mmo_container
{
	background: #F8F8F8;
	border-top: 1px solid #C7C7C7;
}
.mmo_gird_660
{
	width: 660px;
}
.mmo_grid_300
{
	width: 300px;
}
.left
{
	display: inline;
	float: left;
}
.right
{
	display: inline;
	float: right;
}
.pr
{
	position: relative;
}
.pa
{
	position: absolute;
}
.zoom
{
	zoom: 1;
}
.none
{
	display: none;
}
.mmo_loading
{
	height: 80px;
	background: url(http://img0.mmo.mmo4arab.com/global/img/lib/loading.gif) no-repeat center center;
}
.mmo_pic IMG
{
	border-style: solid;
	border-width: 3px;
}
.mmo_pic1 IMG
{
	border-style: solid;
	border-width: 3px;
}
.mmo_pic2 IMG
{
	border-style: solid;
	border-width: 2px;
}
.mmo_date
{
	color: #757575;
	font-size: 11px;
}
.mmo_in LI:nth-child(2n+1)
{
	background-color: #EEE;
}
.mmo_dot1, .mmo_dot2
{
	background: url(http://img2.mmo.mmo4arab.com/global/img/11v2/mmo_sprites_v2.gif) no-repeat;
}
.mmo_dot1
{
	background-position: 5px -286px;
	padding: 5px 5px 5px 15px;
}
.mmo_dot2
{
	background-position: 5px -281px;
	padding: 8px 5px 8px 15px;
}
.mmo_header, .mmo_header_top .mmo_logo A, .mmo_header_top .mmo_search, .mmo_header_top .mmo_search_left, .mmo_header_top .mmo_search_right, .mmo_login .mmo_login_fb, .mmo_nav .mmo_nav_home, .mmo_nav DL, .mmo_nav DT, .mmo_nav .mmo_nav_arrow
{
	background: url(http://img1.mmo.mmo4arab.com/global/img/11v2/mmo_header.gif) no-repeat;
}
.mmo_topad
{
	height: 35px;
	line-height: 35px;
	background-color: #000;
	position: relative;
	z-index: 99;
}
.mmo_topad .mmo_topad_con
{
	padding: 0 20px;
}
.mmo_topad .mmo_topad_close
{
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -999em;
	overflow: hidden;
	position: absolute;
	right: 20px;
	top: 8px;
	background: #CCC;
}
.mmo_topad .mmo_topad_con A
{
	text-decoration: underline;
}
.mmo_topad .mmo_topad_con .mmo_topad_opt
{
	height: 35px;
	margin-top: -35px;
	text-align: right;
	padding-right: 30px;
	color: #929292;
}
.mmo_topad .mmo_topad_con .mmo_topad_opt A
{
	color: #929292;
	text-decoration: none;
}
.mmo_topad .mmo_topad_con .mmo_topad_opt A:hover
{
	color: #B5B5B5;
	text-decoration: underline;
}
.mmo_tip
{
	position: relative;
	z-index: 9999;
}
.mmo_tip .mmo_tipin
{
	padding: 20px 10px 5px;
	border: 1px solid #DF8901;
	background-color: #F3AB00;
	position: fixed;
	top: 0;
	right: 339px;
	min-width: 140px;
}
.mmo_tip .mmo_tip_close
{
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -999em;
	overflow: hidden;
	position: absolute;
	right: 5px;
	top: 5px;
	background: url(http://img2.mmo.mmo4arab.com/global/img/11v2/mmo_sprites_v2.gif) no-repeat 0 -189px;
}
.mmo_tip .mmo_tip_close:hover
{
	background-position: 0 -205px;
}
.mmo_tip LI
{
	padding: 2px 0;
}
.mmo_tip UL A
{
	padding: 1px 0 1px 18px;
	color: #6A5A50;
	/*[empty]background:;*/
}
.mmo_tip .i
{
	background: url(http://img2.mmo.mmo4arab.com/global/img/11v2/mmo_sprites_v2.gif) no-repeat;
}
.mmo_tip .i1
{
	background-position: 0 -44px;
}
.mmo_tip .i2
{
	background-position: 0 -66px;
}
.mmo_tip .i3
{
	background-position: 0 -88px;
}
.mmo_tip .i4
{
	background-position: 0 -110px;
}
.mmo_tip .i5
{
	background-position: 0 -137px;
}
.mmo_tip .i6
{
	background-position: 0 -162px;
}
.mmo_header
{
	background-repeat: repeat-x;
	background-color: #2C211D;
	margin-bottom: 5px;
	position: relative;
	z-index: 999;
}
.mmo_header_top
{
	height: 115px;
	position: relative;
	z-index: 1000;
}
.mmo_header_top .mmo_logo
{
	display: inline;
	float: left;
	width: 222px;
	margin-right: 10px;
	text-indent: -999em;
	overflow: hidden;
}
.mmo_header_top .mmo_logo A
{
	display: block;
	width: 222px;
	height: 115px;
}
.mmo_header_top .mmo_search
{
	display: inline;
	float: left;
	width: 530px;
	margin-top: 24px;
	background-position: 0 -431px;
	background-repeat: repeat-x;
	margin-right: 10px;
}
.mmo_header_top .mmo_search_left
{
	display: inline;
	float: left;
	padding-left: 17px;
	background-position: 0 -360px;
}
.mmo_header_top .mmo_search_right
{
	display: inline;
	float: left;
	width: 513px;
	height: 57px;
	padding-top: 14px;
	background-position: right -502px;
}
.mmo_header_top .mmo_search_type
{
	display: inline;
	float: left;
	width: 89px;
	font-size: 11px;
	margin: 1px;
	position: relative;
}
.mmo_header_top .mmo_search_type .mmo_search_type_current
{
	display: block;
	width: 62px;
	padding: 0 20px 0 7px;
	height: 22px;
	line-height: 22px;
	background: #302420 url(http://img4.mmo.mmo4arab.com/global/img/11v2/mmo_yellow.gif) no-repeat right -16px;
	color: #B6A498;
	cursor: pointer;
	text-align: center;
}
.mmo_header_top .mmo_search_type .mmo_search_type_list
{
	width: 75px;
	padding: 0 7px;
	position: absolute;
	left: 0;
	top: 22px;
	background-color: #302420;
}
.mmo_header_top .mmo_search_type .mmo_search_type_list A
{
	display: block;
	color: #B6A498;
	margin: 1px 0;
	padding: 2px 0;
}
.mmo_header_top .mmo_search_type .mmo_search_type_list A:hover
{
	text-decoration: underline;
}
.mmo_header_top .mmo_search_con
{
	display: inline;
	float: right;
	width: 420px;
	-width: 416px;
}
.mmo_header_top .mmo_search_txt
{
	width: 370px;
	-width: 361px;
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	border: none;
	background: none;
}
.mmo_header_top .mmo_search_sub
{
	width: 27px;
	height: 25px;
	border: none;
	background: none;
	cursor: pointer;
}
.mmo_header_top .mmo_search_hotword
{
	clear: both;
	margin-top: 7px;
}
.mmo_header_top .mmo_search_hotword A
{
	margin: 0 6px;
}
.mmo_header_top .mmo_search_hotword, .mmo_header_top .mmo_search_hotword A
{
	color: #B6A498;
}
.mmo_login
{
	display: inline;
	float: left;
	width: 205px;
	margin: 24px 0 0;
	font-size: 11px;
	position: relative;
}
.mmo_login UL LI
{
	margin-bottom: 5px;
}
.mmo_login .mmo_login_txt
{
	height: 18px;
	line-height: 18px;
	padding: 0 3px;
	font-size: 11px;
	background: #625651;
	border-top: 1px solid #322C29;
	border-left: 1px solid #322C29;
	border-bottom: 1px solid #4B3731;
	border-right: 1px solid #4B3731;
	color: #B6A498;
}
.mmo_login .mmo_login_txt_username
{
	width: 98px;
}
.mmo_login .mmo_login_txt_password
{
	width: 85px;
}
.mmo_login_sub
{
	width: 58px;
	height: 23px;
	color: #FFF;
	font-weight: bold;
	border: none;
	cursor: pointer;
	
}
.mmo_login .mmo_login_fb
{
	background-position: 0 -623px;
	padding-left: 19px;
}
.mmo_login .mmo_loginli1 LABEL
{
	display: inline;
	float: left;
	margin-left: 5px;
}
.mmo_login .mmo_loginli1 .mmo_login_sub
{
	display: inline;
	float: right;
}
.mmo_login .mmo_loginli2 A
{
	margin: 0 5px;
}
.mmo_login .mmo_loginli3
{
	height: 20px;
	overflow: hidden;
}
.mmo_login .mmo_loginli4
{
	height: 25px;
	text-align: right;
	margin-top: -25px;
}
.mmo_login DL
{
	position: relative;
	padding-left: 80px;
	font-size: 12px;
	zoom: 1;
}
.mmo_login DT
{
	margin-bottom: 5px;
}
.mmo_login .mmo_user_pic
{
	position: absolute;
	left: 10px;
	top: 0;
}
.mmo_login .mmo_user_pic IMG
{
	width: 50px;
	height: 50px;
}
.mmo_login .mmo_follow
{
	position: relative;
}
.mmo_login .mmo_follow_d
{
	display: block;
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #6F5F59;
	color: #B6A498;
}
.mmo_login .mmo_follow_box
{
	width: 140px;
	background-color: #2C211D;
	border: 1px solid #6E5F59;
	padding: 3px;
	position: absolute;
	left: 0;
	top: 22px;
}
.mmo_login .mmo_follow_inner
{
	width: 100%;
	padding: 5px 0;
	background: #695B51;
	line-height: 1.3;
}
.mmo_login .mmo_follow_inner H3
{
	padding: 0 5px;
	color: #B6A498;
	font-size: 13px;
	margin-bottom: 5px;
}
.mmo_login .mmo_follow_inner LI
{
	padding: 0 5px;
}
.mmo_login .mmo_follow_inner A
{
	color: #B6A498;
}
.mmo_login_tip
{
	width: 182px;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	background: #F3AB00;
	border: 1px solid #DF8901;
	position: absolute;
	right: 0;
	top: -23px;
	z-index: 9990;
}
.mmo_nav A
{
	font-size: 13px;
	color: #B6A498;
	font-weight: bold;
}
.mmo_nav A:hover
{
	text-decoration: none;
}
.mmo_nav .mmo_nav_home
{
	display: inline;
	float: left;
	padding: 0 6px;
	background-position: right -195px;
}
.mmo_nav .mmo_nav_home A
{
	display: block;
	width: 55px;
	height: 50px;
	line-height: 70px;
	text-align: center;
	overflow: hidden;
}
.mmo_nav DL
{
	display: inline;
	float: left;
	height: 38px;
	padding: 12px 8px 0 9px;
	background-position: right -195px;
	position: relative;
}
.mmo_nav DT
{
	width: 150px;
	height: 5px;
	text-indent: -999em;
	overflow: hidden;
}
.mmo_nav .mmo_nav_c1
{
	background-position: 8px -667px;
}
.mmo_nav .mmo_nav_c2
{
	background-position: 8px -673px;
}
.mmo_nav .mmo_nav_c3
{
	background-position: 8px -679px;
}
.mmo_nav .mmo_nav_c4
{
	background-position: 8px -685px;
}
.mmo_nav DD
{
	display: inline-block;
	=display: inline;
	=zoom: 1;
	float: left;
	margin: 7px 8px 0;
	position: relative;
	z-index: 999;
}
.mmo_nav DD A
{
	display: block;
	float: left;
	height: 22px;
}
.mmo_nav .mmo_nav_hover A
{
	padding-bottom: 4px;
	border: none !important;
}
.mmo_nav .mmo_has_sub A
{
	padding-right: 10px;
}
.mmo_nav .mmo_nav_box
{
	width: 355px;
	padding: 5px 10px;
	color: #B6A498;
	position: absolute;
	top: 25px;
	left: -190px;
	border: 4px solid #2C211D;
	background-color: #695B51;
	display: none;
}
.mmo_nav .mmo_nav_box H4
{
	color: #2C211D;
	font-size: 13px;
	margin-bottom: 5px;
}
.mmo_nav .mmo_nav_box A
{
	display: inline;
	float: none;
	margin: 0 5px;
	padding: 0;
}
.mmo_nav .mmo_nav_box A:hover
{
	border: none;
}
.mmo_nav .mmo_nav_arrow
{
	display: block;
	width: 9px;
	height: 5px;
	position: absolute;
	left: 195px;
	top: -9px;
	background-position: 0 -598px;
}
.mmo_nav .mmo_nav_box .mmo_nav_close
{
	display: block;
	width: 14px;
	height: 13px;
	text-indent: -999em;
	overflow: hidden;
	position: absolute;
	right: 2px;
	top: 5px;
	background: #FFF;
}
.mmo_nav .mmo_nav_more
{
	display: inline;
	float: left;
	position: relative;
	margin: 23px 0 0 5px;
	z-index: 999;
}
.mmo_nav .mmo_nav_more .mmo_nav_more_handle
{
	display: block;
	width: 28px;
	height: 20px;
	background: url(http://img4.mmo.mmo4arab.com/global/img/11v2/mmo_yellow.gif) no-repeat 9px -252px;
	text-indent: -999em;
	overflow: hidden;
}
.mmo_nav .mmo_nav_more .mmo_nav_more_handle:hover, .mmo_nav .mmo_nav_more .mmo_nav_more_handle.hover
{
	background-color: #2D221E;
}
.mmo_nav .mmo_nav_more .mmo_nav_more_con
{
	position: absolute;
	right: 0;
	top: 20px;
	border: 3px solid #2D221E;
	background: #695B51;
	padding: 10px 10px 0;
	text-align: right;
}
.mmo_nav .mmo_nav_more .mmo_nav_more_con H4
{
	display: inline-block;
	width: 23px;
	height: 5px;
	background: url(http://img4.mmo.mmo4arab.com/global/img/11v2/mmo_yellow.gif) no-repeat right -279px;
	text-align: left;
	text-indent: -999em;
	overflow: hidden;
}
.mmo_nav .mmo_nav_more .mmo_nav_more_con A
{
	display: block;
	font-size: 11px;
	white-space: nowrap;
	margin: 5px 0;
}
.mmo_nav .mmo_nav_more .mmo_nav_more_con A:hover
{
	text-decoration: underline;
}
.mmo_sub_nav
{
	height: 26px;
	padding-top: 3px;
	position: relative;
	z-index: 98;
}
.mmo_sub_nav LI
{
	display: inline;
	float: left;
	margin: 0 3px;
	position: relative;
}
.mmo_sub_nav LI A
{
	display: inline-block;
	float: left;
	padding: 2px 10px;
}
.mmo_sub_nav LI A:hover
{
	text-decoration: none;
	background-color: #695B51;
}
.mmo_sub_nav .mmo_has_sub A
{
	padding-right: 17px;
}
.mmo_sub_nav .mmo_nav_hover A
{
	padding-bottom: 6px;
}
.mmo_sub_nav .mmo_sub_nav_box
{
	width: 110px;
	position: absolute;
	top: 26px;
	left: -4px;
	border: 4px solid #2C211D;
	border-top: none;
	background-color: #695B51;
	white-space: nowrap;
	overflow: hidden;
}
.mmo_sub_nav .mmo_sub_nav_box A
{
	display: block;
	float: none;
	padding: 2px 5px;
	color: #B6A498;
	font-size: 11px;
}
.mmo_sub_nav .mmo_sub_nav_box A:hover
{
	color: #B6A498;
	background: #53443B;
}
.mmo_banner
{
	height: 90px;
	padding: 7px 0;
	background: #2C211D;
	overflow: hidden;
}
.mmo_banner .mmo_banner_pic
{
	display: inline;
	float: left;
	width: 728px;
	height: 90px;
	margin: 0 10px;
}
.mmo_banner .mmo_banner_txt
{
	display: inline;
	float: left;
	width: 240px;
	line-height: 1.8;
}
.mmo_banner .mmo_banner_txt H3
{
	font-size: 14px;
	height: 25px;
	line-height: 25px;
}
.mmo_banner .mmo_banner_txt A
{
	color: #87796F;
	display: block;
	height: 22px;
	overflow: hidden;
}
.mmo_tab1 .on .mmo_tab1_arrow, .mmo_tab2 .on .mmo_tab2_arrow, .mmo_tab3 .on .mmo_tab3_arrow
{
	background: url(http://img2.mmo.mmo4arab.com/global/img/11v2/mmo_sprites_v2.gif) no-repeat;
}
.mmo_col1
{
	position: relative;
	zoom: 1;
}
.mmo_col1 .mmo_col1_title
{
	height: 28px;
	line-height: 28px;
	background-color: #695B51;
	margin: 0 0 15px 10px;
	padding: 3px 0;
}
.mmo_col1 .mmo_col1_title H2
{
	display: inline-block;
	float: left;
	margin-left: -10px;
	padding: 0 30px 0 10px;
	font-size: 18px;
	color: #FFF;
	position: relative;
}
.mmo_col1 .mmo_col1_more
{
	height: 34px;
	line-height: 34px;
	color: #D2C2B7;
	position: absolute;
	right: 10px;
	top: 0;
}
.mmo_col1 .mmo_col1_more A
{
	color: #D2C2B7;
}
.mmo_col1 .mmo_col1_con
{
	padding: 0 10px;
}
.mmo_col1_green .mmo_col1_title H2
{
	background: #8DCA00 url(http://img3.mmo.mmo4arab.com/global/img/11v2/mmo_green.gif) no-repeat right -219px !important;
}
.mmo_col1_yellow .mmo_col1_title H2
{
	background: #F3AB00 url(http://img4.mmo.mmo4arab.com/global/img/11v2/mmo_yellow.gif) no-repeat right -219px !important;
}
.mmo_col1_red .mmo_col1_title H2
{
	background: #FF1B1B url(http://img3.mmo.mmo4arab.com/global/img/11v2/mmo_red.gif) no-repeat right -219px !important;
}
.mmo_col2 H2
{
	display: inline-block;
	=display: inline;
	=zoom: 1;
	color: #6A5A50;
	font-size: 18px;
	border-top: 5px solid #695B51;
	height: 30px;
	line-height: 30px;
}
.mmo_col2 H2 EM
{
	font-style: normal;
}
.mmo_more
{
	padding: 5px;
	color: #9F8C80;
	text-align: right;
}
.mmo_more A
{
	margin: 0 5px;
	color: #9F8C80;
	font-weight: bold;
	font-size: 11px;
	text-decoration: underline;
}
.mmo_tab1
{
	display: inline;
	float: left;
	margin-left: -130px;
	width: 130px;
}
.mmo_tab1 LI
{
	background-color: #F2EFE9;
	border: 1px solid #E2D7D0;
	margin-bottom: 4px;
	padding: 8px 5px;
	color: #9F8C80;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	line-height: 16px;
	cursor: pointer;
}
.mmo_tab1 LI.on
{
	background-color: #695B51;
	color: #FFF;
	position: relative;
}
.mmo_tab1 .on .mmo_tab1_arrow
{
	display: block;
	width: 5px;
	height: 9px;
	background-position: 0 -29px;
	position: absolute;
	top: 12px;
	left: -5px;
	-display: none;
}
.mmo_tab1_main
{
	display: inline;
	float: left;
	width: 100%;
}
.mmo_tab1_main_inner
{
	margin: 0 130px 0 0;
}
.mmo_tab2
{
	text-align: right;
	border-bottom: 1px solid #E2D7D0;
}
.mmo_tab2_left
{
	text-align: left;
}
.mmo_tab2 LI
{
	display: inline-block;
	=display: inline;
	=zoom: 1;
	background-color: #EDE8DF;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	=margin-left: 3px;
	color: #9F8C80;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.mmo_tab2 LI.on
{
	background-color: #695B51;
	color: #FFF;
	position: relative;
}
.mmo_tab2 .on .mmo_tab2_arrow
{
	display: block;
	width: 100%;
	height: 4px;
	background-position: center -39px;
	position: absolute;
	bottom: -4px;
	left: 0;
	-display: none;
}
.mmo_tab2_main
{
	padding: 10px;
}
.mmo_tab3
{
	border-bottom: 1px solid #E2D7D0;
	margin-bottom: 5px;
}
.mmo_tab3 LI
{
	display: inline;
	float: left;
	margin-right: 3px;
	background-color: #EDE8DF;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	color: #9F8C80;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.mmo_tab3 LI.on
{
	background-color: #695B51;
	color: #FFF;
	position: relative;
	zoom: 1;
}
.mmo_tab3 .on .mmo_tab3_arrow
{
	display: block;
	width: 100%;
	height: 4px;
	background-position: center -39px;
	position: absolute;
	bottom: -4px;
	left: 0;
	-display: none;
}
.mmo_newslist DL
{
	position: relative;
	padding-left: 215px;
	min-height: 86px;
	-height: 86px;
	margin-bottom: 10px;
	zoom: 1;
}
.mmo_newslist DL.no_pic
{
	padding-left: 0;
}
.mmo_newslist DT
{
	margin-bottom: 5px;
}
.mmo_newslist DT A
{
	font-size: 14px;
	font-weight: bold;
}
.mmo_newslist .desc
{
	margin-bottom: 5px;
}
.mmo_newslist .pic
{
	position: absolute;
	left: 0;
	top: 0;
}
.mmo_newslist UL LI
{
	border-bottom: 1px dotted #CCC;
	padding: 5px 160px 5px 0;
	line-height: 1.3;
	position: relative;
}
.mmo_newslist UL LI A
{
	font-weight: bold;
}
.mmo_newslist UL .n_info
{
	display: block;
	height: 26px;
	line-height: 26px;
	width: 200px;
	font-size: 11px;
	color: #929292;
	text-align: right;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
}
.mmo_newslist UL .n_info B
{
	color: #6A5A50;
	font-size: 12px;
}
.mmo_news DL
{
	min-height: 85px;
	-height: 85px;
	padding: 0 230px 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px dotted #CBCBCB;
	position: relative;
}
.mmo_news DT
{
	font-size: 18px;
}
.mmo_news DT, .mmo_news DD
{
	margin-bottom: 5px;
}
.mmo_news_type
{
	color: #FFF;
	font-size: 11px;
	font-weight: bold;
	padding: 1px 5px;
	margin-right: 3px;
	background-color: #F2A300;
}
.mmo_news_type_news
{
	background-color: #E01616;
}
.mmo_news_type_feature
{
	background-color: #F2A300;
}
.mmo_news_type_video
{
	background-color: #8DCA00;
}
.mmo_news_type_forum
{
	background-color: #5498FF;
}
.mmo_news_pic
{
	position: absolute;
	right: 0;
	top: 0;
}
.mmo_news_pic IMG
{
	display: block;
	width: 200px;
	height: 80px;
}
.mmo_newslist1 LI
{
	line-height: 1.3;
	border-bottom: 1px solid #DCDCDC;
}
.mmo_rank1 LI
{
	padding: 7px;
	border-bottom: 1px solid #DCDCDC;
	line-height: 1.3;
}
.mmo_rank1 .mmo_rank1_t
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	padding: 0 4px;
	margin-right: 3px;
	background-color: #F3AB00;
}
.mmo_rank2 LI
{
	width: 160px;
	line-height: 1.3;
	padding: 8px 95px 8px 32px;
	border-bottom: 1px solid #DCDCDC;
	position: relative;
	overflow: hidden;
}
.mmo_rank2 LI A
{
	font-weight: bold;
}
.mmo_rank2 .mmo_rank2_top
{
	height: 60px;
	padding-bottom: 10px;
}
.mmo_rank2 .mmo_rank2_top .mmo_rank2_t
{
	top: 20px;
}
.mmo_rank2 .mmo_rank2_t
{
	display: block;
	width: 14px;
	text-align: center;
	line-height: 1.3;
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	position: absolute;
	left: 7px;
	top: 8px;
}
.mmo_rank2 DL
{
	width: 170px;
	padding-left: 90px;
	position: relative;
	zoom: 1;
}
.mmo_rank2 DT
{
	font-size: 13px;
	font-weight: bold;
	line-height: 1.2;
}
.mmo_rank2 .mmo_rank2_pic
{
	position: absolute;
	left: 0;
	top: 0;
}
.mmo_rank2 .mmo_rank2_pic IMG
{
	display: block;
	width: 80px;
	height: 60px;
}
.mmo_rank2 .mmo_rank2_vote
{
	position: absolute;
	right: 70px;
	top: 8px;
	color: #9F8C80;
	font-weight: bold;
}
.mmo_rank2 .mmo_rank2_vote1
{
	position: absolute;
	right: 10px;
	top: 8px;
	color: #9F8C80;
	font-weight: bold;
}
.mmo_rank2 .mmo_rank2_views
{
	position: absolute;
	right: 5px;
	top: 8px;
	color: #757575;
}
.mmo_rank3 LI
{
	padding: 0 0 10px 32px;
	border-bottom: 1px solid #DCDCDC;
	position: relative;
	overflow: hidden;
	color: #757575;
}
.mmo_rank3 .mmo_rank3_title
{
	line-height: 1.3;
	padding: 7px 0;
}
.mmo_rank3 LI A
{
	font-weight: bold;
}
.mmo_rank3 .mmo_rank3_t
{
	display: block;
	width: 14px;
	text-align: center;
	line-height: 1.3;
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	position: absolute;
	left: 7px;
	top: 8px;
}
.mmo_rank3 .mmo_rank3_sp
{
	position: relative;
	padding-right: 150px;
	min-height: 62px;
	-height: 62px;
}
.mmo_rank3 .mmo_rank3_pic
{
	position: absolute;
	right: 0;
	top: 0;
}
.mmo_rank3 .mmo_rank3_pic IMG
{
	width: 140px;
	height: 56px;
}
.mmo_rank1 .mmo_rank1_t_grey, .mmo_rank2 .mmo_rank2_t_grey, .mmo_rank3 .mmo_rank3_t_grey
{
	background: #9F8C80 !important;
}
.mmo_scroll
{
	background-color: #EEE;
	height: 119px;
	padding: 0 50px;
	overflow: hidden;
	position: relative;
}
.mmo_scroll H2
{
	color: #695B51;
	font-size: 17px;
	height: 36px;
	line-height: 36px;
}
.mmo_scroll .mmo_scroll_con
{
	width: 894px;
	margin: 0 auto;
	overflow: hidden;
}
.mmo_scroll UL
{
	width: 10000px;
}
.mmo_scroll UL LI
{
	display: inline;
	float: left;
	margin: 0 5px;
}
.mmo_scroll UL A
{
	display: block;
	width: 282px;
	height: 56px;
	padding: 3px;
	background-color: #695B51;
	color: #FFF;
	overflow: hidden;
}
.mmo_scroll UL IMG
{
	display: inline-block;
	float: left;
	width: 140px;
	height: 56px;
}
.mmo_scroll UL A SPAN
{
	display: inline-block;
	width: 130px;
	float: right;
	line-height: 1.3;
	padding: 2px 0;
	height: 46px;
	overflow: hidden;
}
.mmo_scroll .mmo_scroll_handle
{
	display: block;
	width: 40px;
	height: 119px;
	position: absolute;
	top: 0;
	background: url(http://img2.mmo.mmo4arab.com/news/images/2011v2/news_sprites.gif) no-repeat;
	text-indent: -999em;
	overflow: hidden;
}
.mmo_scroll .mmo_scroll_handle1
{
	background-position: 0 0;
	left: 0;
}
.mmo_scroll .mmo_scroll_handle2
{
	background-position: -40px 0;
	right: 0;
}
.mmo_scroll .mmo_scroll_handle1:hover
{
	background-position: 0 -119px;
}
.mmo_scroll .mmo_scroll_handle2:hover
{
	background-position: -40px -119px;
}
.mmo_ad_300250 UL LI
{
	border-bottom: 1px solid #DCDCDC;
	padding: 5px 5px 5px 15px;
	background: url(http://img2.mmo.mmo4arab.com/global/img/11v2/mmo_sprites_v2.gif) no-repeat 5px -283px;
}
.mmo_footer_sponsor
{
	background: #F8F8F8;
	height: 90px;
	padding: 5px 0;
	overflow: hidden;
}
.mmo_footer_sponsor .mmo_footer_sponsor1
{
	display: inline;
	float: left;
	width: 728px;
	height: 90px;
	margin: 0 15px 0 10px;
}
.mmo_footer_sponsor .mmo_footer_sponsor2
{
	display: inline-block;
	float: left;
	width: 230px;
	line-height: 1.8;
}
.mmo_footer_sponsor .mmo_footer_sponsor2 H3
{
	font-size: 14px;
	height: 25px;
	line-height: 25px;
}
.mmo_footer_sponsor .mmo_footer_sponsor2 A
{
	display: block;
	height: 22px;
	overflow: hidden;
}
.mmo_footer
{
	background: #EDE8DF;
}
.mmo_footer .mmo_footer_copyright
{
	display: inline;
	float: left;
	width: 220px;
	height: 120px;
	padding: 15px 20px 15px 30px;
	color: #9F8C80;
	font-size: 11px;
	background: #E5DED1;
	min-height: 140px;
	-height: 140px;
}
.mmo_footer .mmo_footer_copyright H3
{
	color: #695B51;
	font-size: 20px;
}
.mmo_footer .mmo_footer_copyright A
{
	color: #766A61;
	font-size: 14px;
	font-weight: bold;
}
.mmo_footer .mmo_footer_map
{
	display: inline;
	float: left;
	padding: 15px 10px;
}
.mmo_footer .mmo_footer_map DL
{
	display: inline;
	float: left;
	margin: 0 25px;
}
.mmo_footer .mmo_footer_map DT
{
	color: #9F8C80;
	font-size: 16px;
	font-weight: bold;
}
.mmo_footer .mmo_footer_map A
{
	color: #695B51;
	font-size: 13px;
}
.mmo_footer .mmo_footer_find
{
	clear: both;
	height: 59px;
	padding: 15px 20px;
	background: url(http://img3.mmo.mmo4arab.com/global/img/11v2/mmo_footer.gif) repeat-x;
	overflow: hidden;
}
.mmo_footer .mmo_footer_find DT
{
	display: inline;
	float: left;
	width: 190px;
	font-size: 14px;
	font-weight: bold;
	color: #766A61;
}
.mmo_footer .mmo_footer_find DD
{
	display: inline;
	float: right;
	width: 760px;
	text-align: right;
}
.mmo_footer .mmo_footer_find A
{
	margin: 0 5px;
	font-size: 13px;
	color: #B6A498;
}
.mmo_footer .mmo_footer_spe A
{
	margin: 0 3px;
}
.mmo_gameinfo
{
	position: relative;
	z-index: 97;
	background: #F8F8F8;
}
.mmo_gameinfo DL
{
	position: relative;
	padding: 0 0 5px 135px;
	min-height: 94px;
	-height: 94px;
	z-index: 99;
}
.mmo_gameinfo DT
{
	color: #6A5A50;
	font-size: 24px;
	margin-bottom: 10px;
}
.mmo_gameinfo .mmo_gameinfo_link
{
	position: relative;
}
.mmo_gameinfo .mmo_gameinfo_btn
{
	color: #FFF;
	font-weight: bold;
	padding: 4px 10px;
	background-color: #E01616;
	border-right: 1px solid #D2D2D2;
	border-bottom: 1px solid #D2D2D2;
}
.mmo_gameinfo .mmo_gameinfo_btn:hover
{
	text-decoration: none;
	background-color: #EA3C3C;
}
.mmo_gameinfo .mmo_gameinfo_more
{
	width: 88px;
	height: 14px;
	line-height: 14px;
	padding: 1px;
	border: 1px solid #E2D7D0;
	background: #FFF url(http://img2.mmo.mmo4arab.com/global/img/11v2/mmo_sprites_v2.gif) no-repeat right 0;
	position: absolute;
	left: 370px;
	top: 0;
}
.mmo_gameinfo .mmo_gameinfo_more_i
{
	display: block;
	color: #9F8C80;
	font-weight: bold;
	padding-left: 12px;
}
.mmo_gameinfo .mmo_gameinfo_more_b
{
	position: absolute;
	left: -1px;
	top: 16px;
	border: 1px solid #E2D7D0;
	background: #FFF;
	padding: 5px;
	width: 190px;
}
.mmo_gameinfo .mmo_gameinfo_more_tab
{
	margin-bottom: 5px;
	border-bottom: 1px solid #695B51;
}
.mmo_gameinfo .mmo_gameinfo_more_tab LI
{
	display: inline;
	float: left;
	margin: 0 5px;
	padding: 0 5px;
	cursor: pointer;
}
.mmo_gameinfo .mmo_gameinfo_more_tab LI.on
{
	background: #695B51;
	color: #FFF;
}
.mmo_gameinfo .mmo_gameinfo_more_main LI
{
	padding: 3px 0;
}
.mmo_gameinfo .mmo_gameinfo_more_main A
{
	text-decoration: underline;
}
.mmo_gameinfo .mmo_gameinfo_more_main .txt_center A
{
	margin: 0 5px;
}
.mmo_gameinfo .mmo_gameinfo_pic
{
	position: absolute;
	left: 0;
	top: 0;
}
.mmo_gameinfo .mmo_gameinfo_pic IMG
{
	width: 116px;
	height: 88px;
}
.mmo_gameinfo .mmo_gameinfo_nav
{
	background: #695B51;
	border-bottom: 3px solid #E01616;
}
.mmo_gameinfo .mmo_gameinfo_nav LI
{
	display: inline;
	float: left;
	margin: 0 5px;
}
.mmo_gameinfo .mmo_gameinfo_nav A
{
	display: inline-block;
	float: left;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	color: #FFF;
	font-weight: bold;
}
.mmo_gameinfo .mmo_gameinfo_nav A:hover
{
	text-decoration: none;
}
.mmo_gameinfo .mmo_gameinfo_nav LI.on
{
	background-color: #E01616;
	text-decoration: none;
}
.mmo_gameinfo .mmo_gameinfo_nav_down
{
	position: relative;
	padding-right: 8px;
}
.mmo_gameinfo .mmo_gameinfo_nav_down A
{
	background: url(http://img0.mmo.mmo4arab.com/global/img/11v2/mmo_red.gif) no-repeat right -145px;
	padding-right: 12px;
}
.mmo_gameinfo .mmo_gameinfo_nav_down DIV
{
	width: 86px;
	position: absolute;
	left: 0;
	top: 34px;
	background: #E01616;
}
.mmo_gameinfo .mmo_gameinfo_nav_down DIV A
{
	display: block;
	float: none;
	background: none;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	font-weight: normal;
}
.mmo_gameinfo .mmo_gameinfo_nav_down DIV A:hover
{
	background-color: #53443B;
}
.mmo_note .mmo_note_close, .mmo_note .mmo_note_arrow
{
	background: url(http://img2.mmo.mmo4arab.com/global/img/11v2/mmo_sprites_v2.gif) no-repeat;
}
.mmo_note
{
	padding: 3px 20px 3px 5px;
	background-color: #F3AB00;
	border: 1px solid #CE6705;
	position: absolute;
	z-index: 99;
}
.mmo_note .mmo_note_close
{
	display: block;
	width: 8px;
	height: 7px;
	text-indent: -999em;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
	background-position: 0 -221px;
}
.mmo_note .mmo_note_close:hover
{
	background-position: -8px -221px;
}
.mmo_note .mmo_note_arrow
{
	display: block;
	width: 15px;
	height: 9px;
	position: absolute;
}
.mmo_note .mmo_note_arrow_bottom
{
	bottom: 0;
	background-position: 0 -228px;
}
.mmo_note .mmo_note_arrow_top
{
	top: -9px;
	background-position: 0 -237px;
}
.mmo_page
{
	border-bottom: 5px solid #695B51;
	padding: 2px 0;
	font-size: 14px;
}
.mmo_page SPAN
{
	margin-right: 20px;
}
.mmo_page A, .mmo_page .mmo_page_off
{
	font-weight: bold;
	padding: 2px 6px;
	margin: 0 2px;
}
.mmo_page A:hover, .mmo_page A.mmo_page_on
{
	color: #FFF;
	background-color: #695B51;
	text-decoration: none;
}
.mmo_page .mmo_page_off
{
	color: #AAA;
}
.mmo_page .mmo_page_off:hover
{
	background: none;
	color: #AAA;
}
.mmo_share H2
{
	margin-bottom: 10px;
}
.mmo_share H3
{
	font-size: 14px;
	margin-bottom: 10px;
}
.mmo_share .mmo_share_con
{
	background-color: #F5F3EF;
	border-top: 1px solid #E2D7D0;
	border-bottom: 1px solid #E2D7D0;
}
.mmo_share .mmo_share_item
{
	display: inline;
	float: left;
	padding: 10px 15px;
}
.mmo_share .mmo_share_item H3
{
	color: #9F8C80;
	margin-bottom: 5px;
}
.mmo_share .mmo_share_item1
{
	width: 205px;
}
.mmo_share .mmo_share_item2
{
	width: 90px;
	background-color: #F0EDE7;
}
.mmo_share .mmo_share_item2 LI
{
	margin-right: 5px;
}
.mmo_share .mmo_share_item3
{
	width: 260px;
}
.mmo_share_item3 .google_num, .mmo_share_item3 .reddit_digg
{
	float: left;
}
.mmo_share UL LI
{
	display: inline;
	float: left;
	margin-right: 10px;
}
.mmo_share .mmo_share_item A
{
	display: inline-block;
	float: left;
	width: 36px;
	height: 36px;
	cursor: pointer;
	background: url(http://img1.mmo.mmo4arab.com/www/images/2011v2/2011v2_sprites.gif) no-repeat;
	text-indent: -9999em;
}
#facebook
{
	background-position: -51px -41px;
}
#twitter
{
	background-position: -102px -41px;
}
#reddit
{
	background-position: -152px -41px;
}
#stumble
{
	background-position: -201px -41px;
}
.mmo_share .mmo_share_item .mail_rss
{
	background-position: -311px -41px;
}
.mmo_share .mmo_share_item .rss
{
	background-position: -816px -41px;
}
.mmo_top .mmo_top_logo A, .mmo_top_nav .mmo_top_sub, .mmo_top_nav .mmo_top_sub EM, .mmo_top_nav LI.on .mmo_top_sub, .mmo_top_nav LI.current .mmo_top_sub, .mmo_top_login .mmo_top_sub
{
	background: url(http://img2.mmo.mmo4arab.com/global/img/11v2/mmo_top.gif) no-repeat;
}
.mmo_top
{
	height: 35px;
	background: #000;
	-webkit-box-shadow: 0 2px 3px #000;
	-moz-box-shadow: 0 2px 3px #000;
	box-shadow: 0 2px 3px #000;
}
.mmo_top A
{
	color: #6F6F6F;
}
.mmo_top .mmo_top_logo
{
	display: inline-block;
	float: left;
	width: 108px;
}
.mmo_top .mmo_top_logo A
{
	display: block;
	width: 108px;
	height: 35px;
	background-position: 0 0;
	text-indent: -999em;
	overflow: hidden;
}
.mmo_top_nav
{
	display: inline;
	float: left;
	width: 520px;
	padding: 6px 10px 0;
}
.mmo_top_nav, .mmo_top_nav A
{
	color: #6F6F6F;
}
.mmo_top_nav LI
{
	display: inline;
	float: left;
	height: 29px;
	line-height: 24px;
	padding: 0 10px;
	margin: 0 2px;
	cursor: pointer;
	position: relative;
	z-index: 99;
}
.mmo_top_nav LI.on, .mmo_top_nav LI.current
{
	background: #2B2A2A;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	color: #A1A1A1;
}
.mmo_top_nav LI.on .mmo_top_sub, .mmo_top_nav LI.current .mmo_top_sub
{
	color: #A1A1A1;
	background-position: right -71px;
}
.mmo_top_nav .mmo_top_sub
{
	padding-right: 12px;
	background-position: right -48px;
}
.mmo_top_nav .mmo_top_sub EM
{
	color: #CCC;
	background-position: 0 -93px;
	padding-left: 15px;
}
.mmo_top_nav .mmo_top_sublist
{
	position: absolute;
	top: 29px;
	left: 0;
	padding: 2px;
	width: 130px;
	background: #2B2A2A;
	white-space: nowrap;
	overflow: hidden;
}
.mmo_top_nav .mmo_top_sublist A
{
	display: block;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
}
.mmo_top_nav .mmo_top_sublist A:hover
{
	background: #000;
	color: #A1A1A1;
	text-decoration: none;
}
.mmo_top_login
{
	display: inline;
	float: right;
	position: relative;
	z-index: 9990;
}
.mmo_top_login .mmo_top_login_form
{
	padding-top: 7px;
}
.mmo_top_login .mmo_top_login_form LI
{
	display: inline;
}
.mmo_top_login .mmo_top_login_form .mmo_top_login_txt
{
	width: 80px;
	height: 18px;
	line-height: 18px;
	padding: 0 2px;
	border: 1px solid #1B1B1B;
	background-color: #A1A1A1;
	color: #EEE;
}
.mmo_top_login .mmo_top_login_form .mmo_login_sub
{
	height: 18px;
	line-height: 18px;
	margin-right: 5px;
	background-color: #5B9CFF;
}
.mmo_top_login .mmo_top_login_s
{
	color: #CCC;
	padding-top: 6px;
}
.mmo_top_login .mmo_top_login_s LI
{
	display: inline;
	float: left;
	height: 24px;
	margin-right: 5px;
	padding: 0 10px;
	position: relative;
}
.mmo_top_login .mmo_top_login_s LI.on, .mmo_top_login LI.current
{
	background: #1B1B1B;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
}
.mmo_top_login .mmo_top_user
{
	display: inline-block;
	font-weight: bold;
	line-height: 24px;
	color: #CCC;
}
.mmo_top_login .mmo_top_user IMG
{
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
	margin-right: 5px;
}
.mmo_top_login .mmo_top_sub
{
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding-right: 12px;
	background-position: right -66px;
}
.mmo_top_login .mmo_login_downlist
{
	position: absolute;
	top: 24px;
	right: 0;
	padding: 2px;
	width: 130px;
	background: #1B1B1B;
	overflow: hidden;
}
.mmo_top_login .mmo_login_downlist LI
{
	display: block;
	padding: 0;
	height: auto;
	float: none;
	margin: 0;
}
.mmo_top_login .mmo_login_downlist A, .mmo_top_login .mmo_login_downlist H3
{
	display: block;
	line-height: 1.2;
	padding: 4px 10px;
}
.mmo_top_login .mmo_login_downlist A:hover
{
	background: #000;
	color: #A1A1A1;
	text-decoration: none;
}
.mmo_top_login .mmo_login_tip
{
	top: 28px;
	left: 0;
}
.mmo_comment_total
{
	text-align: left;
	padding-left: 210px;
}
.mmo_comment_total B
{
	color: #FFF;
}
.mmo_comment .mmo_comment_hot
{
	border-bottom: 2px solid #90857E;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.mmo_comment .mmo_comment_hot H3
{
	border-bottom: 2px solid #90857E;
	padding: 3px 0;
	margin-bottom: 10px;
	font-size: 16px;
}
.mmo_comment DL
{
	position: relative;
	padding-left: 60px;
	margin-bottom: 10px;
	min-height: 52px;
	-height: 52px;
}
.mmo_comment DT
{
	color: #929292;
	font-size: 11px;
}
.mmo_comment DT, .mmo_comment DD
{
	margin-bottom: 5px;
}
.mmo_comment DT A, .mmo_comment DT STRONG
{
	font-size: 13px;
	font-weight: bold;
}
.mmo_comment DT STRONG
{
	color: #6A5A50;
}
.mmo_comment .mmo_comment_opt
{
	border-bottom: 1px dotted #CBCBCB;
	padding-bottom: 5px;
	color: #E2D7D0;
}
.mmo_comment .mmo_comment_opt A
{
	margin: 0 5px;
	color: #9F8C80;
	font-size: 11px;
}
.mmo_comment .mmo_comment_opt A:hover
{
	color: #FF1B1B;
	text-decoration: none;
}
.mmo_comment .mmo_comment_dig
{
	background: url(http://img0.mmo.mmo4arab.com/global/img/11v2/mmo_comment.gif) no-repeat 0 1px;
	padding-left: 14px;
}
.mmo_comment .mmo_comment_burn
{
	background: url(http://img0.mmo.mmo4arab.com/global/img/11v2/mmo_comment.gif) no-repeat 0 -18px;
	padding-left: 14px;
}
.mmo_comment .mmo_comment_pic
{
	position: absolute;
	left: 0;
	top: 2px;
}
.mmo_comment .mmo_comment_pic IMG
{
	width: 50px;
	height: 50px;
}
.mmo_comment .mmo_comment_floor
{
	position: absolute;
	right: 0;
	top: 0;
	height: 20px;
	padding: 0 2px;
	line-height: 20px;
	text-align: center;
	color: #FFF;
	background-color: #6A5A50;
	font-size: 12px;
}
.mmo_comment .mmo_comment_arrow
{
	display: block;
	width: 5px;
	height: 5px;
	background: url(http://img0.mmo.mmo4arab.com/global/img/11v2/mmo_comment.gif) no-repeat 0 -42px;
	position: absolute;
	bottom: -5px;
	left: 5px;
}
.mmo_comment .mmo_comment_add
{
	background-color: #F5F3EF;
	border-top: 1px solid #E2D7D0;
	border-bottom: 1px solid #E2D7D0;
	padding: 10px;
}
.mmo_comment .mmo_comment_add H3
{
	color: #6A5A50;
	font-size: 16px;
	margin-bottom: 10px;
}
.mmo_comment .mmo_comment_ad
{
	display: inline;
	float: left;
	margin-right: 20px;
}
.mmo_comment .mmo_comment_form
{
	overflow: hidden;
	zoom: 1;
}
.mmo_comment .mmo_comment_form LI
{
	margin-bottom: 10px;
	position: relative;
}
.mmo_comment .mmo_comment_form .mmo_comment_t
{
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}
.mmo_comment .mmo_comment_txt
{
	width: 130px;
	background: #FFF;
	border: 1px solid #E2D7D0;
	padding: 2px;
}
.mmo_comment .mmo_comment_area
{
	border: 1px solid #E2D7D0;
	padding: 2px;
	width: 98%;
	height: 125px;
}
.mmo_comment .mmo_comment_smiles
{
	position: absolute;
	right: 0;
	top: 0;
	background: url(http://img0.mmo.mmo4arab.com/global/img/11v2/mmo_comment.gif) no-repeat 0 -56px;
	padding-left: 20px;
	cursor: pointer;
}
.mmo_comment .mmo_comment_smiles SPAN
{
	display: block;
	height: 16px;
	line-height: 16px;
}
.mmo_comment .mmo_comment_smiles_list A
{
	margin: 0 1px;
}
.mmo_comment .mmo_comment_sub
{
	color: #FFF;
	font-weight: bold;
	padding: 3px 15px;
	background-color: #695B51;
	border-right: 1px solid #D2D2D2;
	border-bottom: 1px solid #D2D2D2;
	cursor: pointer;
}
.mmo_comment .mmo_comment_sub:hover
{
	background-color: #7E6E62;
}
.mmo_comment .mmo_comment_1
{
	margin-left: 60px;
}
.mmo_comment .mmo_comment_2
{
	margin-left: 120px;
}
.mmo_comment .mmo_comment_o
{
	margin-left: 50px;
	background: #EDE8DF;
	padding: 5px 0 5px 65px;
}
.mmo_comment .mmo_comment_o .mmo_comment_pic
{
	left: 5px;
	top: 5px;
}
.mmo_sidead_txt LI
{
	border-bottom: 1px solid #DCDCDC;
	line-height: 1.2;
}
/* float banner ad*/
#mmoFloatBannerBox{position:fixed;bottom: -110px;_position:absolute; left:0;z-index:1000;width:100%;display: none;padding:10px 0;height:90px;overflow:hidden;}
.mmoFloatwrap{width:95%;margin:0 auto;}
#mmoFloatBanner{width:728px; height:90px;float:left;margin-right:15px;}
#mmoFloatBannerBox .banner_close{margin:0 10px -24px 0px;font-weight:bold;color:#f00;font-size:14px;position:absolute;right:0;top:33px;z-index:100;background:url(http://img0.mmo.mmo4arab.com/global/img/11v2/close_btn.png) no-repeat;width:31px;height:31px;line-height:31px;text-align:center;}
#mmoFloatBannerBox .mmoFloatRecom{float:left;display:inline;width:200px;background:#000;padding:10px 10px 25px 10px;}
#mmoFloatBannerBox .mmoFloatRecom a{float:left;display:inline;}
#mmoFloatBannerBox .opacity_bg{filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity: 0.6;opacity: 0.6;position:absolute;top:0;left:0;background:#000;width:100%;height:110px;z-index:-1;}
#mmoFloatBannerBox .recom_entry{position:absolute;left:62%;top:84px;color:#f00;text-decoration:underline;font-size:14px;display:none;}
.mmoFloatRecom .apic{width:90px;margin-right:10px;}
.mmoFloatRecom .atitle{width:90px;height:55px;overflow:hidden;color:#ffffff;}
.mmoFloatRecom .apic img{width:90px;height:60px;}
.backToTop{height:50px;width:50px;position:fixed;z-index:1001;bottom:110px;heigth:50px;background:url(http://img1.mmo.mmo4arab.com/feature/8anniversary/totop.gif) no-repeat; cursor:pointer;display:none;}